.explore-posts {
  margin: auto;
  width: 85%;
  padding-top: 80px;
  column-count: 4;
  column-gap: 20px;
}

.explore-post {
  max-width: 300px;
  background-color: #fff;
  border-radius: 5px;
  padding: 0;
  position: relative;
  padding: 10px 0 0;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}