.post-container {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 75px auto;
  grid-gap: 20px;
  border-radius: 3px;
  box-sizing: border-box;
}

.dash-post {
  min-width: 510px;
  max-width: 510px;
  background-color: #fff;
  border-radius: 5px;
  padding: 0;
  position: relative;
  padding: 10px 0 0;
}

.post-content {
  display: flex;
  flex-flow: column;
  padding: 0 20px;
}

.post-content p {
  margin: 0;
}

.post-media-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.post-media {
  align-self: center;
  height: auto;
  width: auto;
  max-width: 500px;
}

.dash-post h3 {
  font-size: 30px;
  font-weight: 500;
  margin: 5px 0 10px;
}

.post-settings-icon {
  float: right;
  border: none;
  font-size: 20px;
  padding-right: 10px;
  color: #444;
}

.post-settings {
  display: flex;
  flex-flow: column;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: -45px;
  right: -15px;
  z-index: 3;
  padding: 6px 0;
}

.post-setting-link {
  padding: 3px 10px 0;
  box-sizing: border-box;
  width: 120px;
  height: 30px;
}

.post-setting-link:hover {
  background-color: rgba(127, 178, 245, 0.4);
}

.delete-post-confirmation {
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
}

.delete-post-confirmation h3 {
  margin-top: 0;
}

.delete-post-confirmation > .btn-wrapper {
  display: flex;
  justify-content: space-around;
}

.edit-post {
  display: block;
  background-color: #559DCC;
  color: #fff;
  border: 0px solid #333;
  border-radius: 2px;
  width: 175px;
  height: 45px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
}

.delete-post {
  display: block;
  background-color: #333;
  color: #fff;
  border: 0px solid #333;
  border-radius: 2px;
  width: 175px;
  height: 45px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
}

.nevermind {
  display: block;
  background-color: #aaadb5;;
  color: #fff;
  border: 0px solid #aaadb5;
  border-radius: 2px;
  width: 175px;
  height: 45px;
  font-size: 16px;
  font-weight: 600;
}

.quote-font {
  font-family: 'Noto Serif SC', serif;
}

.link-style {
  text-decoration: underline;
  font-style: italic;
  color: #6CC595;
}

a.link-style {
  font-size: 24px;
}

.tags-settings {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.post-tags {
  padding-left: 20px;
  display: flex;
  list-style: none;
  color: #777;
  font-weight: 400;
}

.post-tag {
  color: inherit;
  font-size: 14px;
  margin-right: 10px;
}