.logo {
  color: #fff;
  background-color: transparent;
  border: 0px solid transparent;
  font-size: 36px;
  font-weight: 500;
  font-family: 'Lobster', cursive;
  text-shadow: -1px -3px #222;
  margin: 5px;
}

.logo i {
  letter-spacing: -25px;
  transform: rotate(-1deg);
  font-size: 34px;
  z-index: 5;
}

.login-sm {
  background-color: rgba(0, 0, 0, 0.2);
  border: 0px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: #fff;
  width: 75px;
  height: 30px;
  font-size: 14px;
  margin: 5px;
  font-weight: 500;
}

.sign-up {
  background-color: #fff;
  color: #555;
  border: 0px solid #fff;
  border-radius: 2px;
  width: 75px;
  height: 30px;
  font-size: 14px;
  margin: 5px;
  font-weight: 500;
}

.mid-content {
  position: absolute;
  display: flex;
  align-items: center;
  flex-flow: column;
  text-align: center;
  animation: slide-in 1s ease 1 forwards;
  animation-delay: 0.5s;
  opacity: 0;
  max-height: 500px;
}

@keyframes slide-in {
  0% { 
    top: 60%;
    opacity: 0;
  }
  100% { 
    top: 25%;
    opacity: 1;
  }
}

.mid-content p {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 5px;
  letter-spacing: 1px;
  line-height: 20px;
  padding-bottom: 10px;
  border-radius: 3px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
}

#main-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-logo {
  font-size: 8em;
  z-index: 1;
  text-shadow: -1px -3px #222;
}

#main-header i {
  padding-top: 6px;
  color: #fff;
  font-size: 8em;
  margin-right: -95px;
  text-shadow: -1px -3px #222;
}

.lg-blue-btn {
  display: block;
  background-color: #559DCC;
  color: #fff;
  border: 0px solid #559DCC;
  border-radius: 2px;
  width: 300px;
  height: 45px;
  font-size: 16px;
  margin: 10px;
  font-weight: 600;
}

.login-lg {
  display: block;
  background-color: #fff;
  color: #444444;
  border: 0px solid #fff;
  border-radius: 2px;
  width: 300px;
  height: 45px;
  font-size: 16px;
  margin: 5px;
  font-weight: 600;
}

.demo-login {
  display: block;
  background-color: #333;
  color: #fff;
  border: 0px solid #333;
  border-radius: 2px;
  width: 300px;
  height: 45px;
  font-size: 16px;
  margin-top: 60px;
  font-weight: 600;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 10px;
  padding-left: 10px;
}

.business-link {
  font-size: 30px;
  margin-right: 10px;
  text-decoration: none;
  color: #ddd;
  text-shadow: -1px -2px #222;
  display: flex;
  align-items: center;
  transition: 0.1s ease-in-out;
}

.business-link:last-of-type {
  margin: 0;
}

.business-link:hover {
  color: #222;
  text-shadow: -1px -3px #ddd;
}

/* SPLASH PAGES TEXT */
.splash-page-text {
  width: 400px;
  font-weight: 200;
  margin: 0;
  width: 600px;
  text-align: center;
}

.splash-page-header {
  font-size: 50px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 20px;
}

#splash-text-1 {
  padding-top: 60vh;
}

.splash-page-paragraph {
  font-size: 20px;
}

#splash-text-2 {
  padding-right: 35vw;
  padding-bottom: 65vh;
}

#splash-4 h2 {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9)
}