.nav {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  z-index: 5;
  width: 97%;
  padding-right: 50px;
}

.splash-nav-btns {
  position: absolute;
  right: 10%;
}

.nav-link {
  width: 45px;
  height: 35px;
  font-size: 24px; 
  color: #9AA2AE;
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 2px;
  margin: 5px 0 5px 20px;
}

.create-post {
  width: 45px;
  height: 35px;
  font-size: 22px;
  color: #36455D;
  background-color:  #559DCC;
  border: 0px solid #559DCC;
  border-radius: 2px;
  margin: 5px 0 5px 20px;
}

.dash-nav-btns {
  position: relative;
}

.account-info-container {
  width: 220px;
  background-color: #fff;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 5;
}

.account-info-container > .gray-header {
  box-sizing: border-box;
  background-color: #eee;
  color: #777;
  padding: 5px 10px;
  margin: 0;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.5px;
  width: 100%;
}

.account-info-wrapper {
  display: flex;
  flex-flow: column;
}

.account-info-wrapper a {
  display: flex;
  justify-content: space-between;
  transition: 0.1s;
  font-size: inherit;
}

.account-info-wrapper a:hover, .logout:hover {
  background-color: rgba(127, 178, 245, 0.4);
}

.account-info-wrapper > a > .social, .count {
  display: inline-block;
  padding: 10px;
}

.account-info-wrapper > a > .count {
  font-size: 0.8em;
}

.account-info-wrapper > .logout {
  border: none;
  text-align: left;
  padding: 10px;
  font-size: inherit;
}

.account-info-wrapper i {
  color: #444;
  margin-right: 8px;
}

.search-bar {
  box-sizing: border-box; 
  position: absolute;
  background-color: #2F3D50;
  width: 35%;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
}

@media (min-width: 1281px) {
  .search-bar {
    left: 6%;
    top: 20%;
  }

  .search-results {
    left: 6%;
    top: 60%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .search-bar {
    left: 8%;
    top: 20%;
  }

  .search-results {
    left: 8%;
    top: 60%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .search-bar {
    left: 10%;
    top: 30%;
  }

  .search-results {
    left: 10%;
    top: 70%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .search-bar {
    left: 13%;
    top: 30%;
  }

  .search-results {
    left: 13%;
    top: 70%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .search-bar {
    left: 15%;
    top: 20%;
  }

  .search-results {
    left: 15%;
    top: 60%;
  }
}

.search-label {
  font-size: 20px;
  color: hsla(0, 0%, 100%, .5);
}

#search {
  width: 97%;
  box-sizing: border-box;
  height: 32px;
  margin-left: 10px;
  font-size: 16px;
  color: #444;
  background-color: #2F3D50;
  border: none;
  border-radius: 3px;
}

#search:focus {
  width: 97%;
  box-sizing: border-box;
  height: 32px;
  margin-left: 10px;
  font-size: 16px;
  color: #444;
  background-color: #fff;
  border: none;
}

.focus {
  background-color: #fff;
  color: #444;
}