.post-form {
  box-sizing: border-box;
  background-color: #fff;
  width: 510px;
  min-height: 260px;
  padding: 10px 0 20px;
  border-radius: 3px;
}

.post-form input, textarea {
  margin: 0 20px 5px;
  width: 450px;
  border: none;
  padding: 5px;
}

.title-input {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.post-form textarea {
  font-size: 18px;
  height: 60px;
}

.post-form label {
  height: 0;
}

.tag-input {
  font-size: 12px;
  margin-bottom: 5px;
}

.form-btns-wrapper {
  padding: 20px 20px 0;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}

.close-btn {
  position: relative;
  background-color: #aaadb5;
  color: #fff;
}

#close-btn-span {
  font-weight: 600;
  position: absolute;
  top: 10%;
  left: 28%;
}

.post-btn {
  background-color: #559DCC;
  color: #fff;
}

.media-form input, textarea {
  margin: 0 20px 5px;
  width: 450px;
  border: none;
  padding: 5px;
}

.media-form textarea {
  font-size: 18px;
  height: 60px;
}

.post-errors {
  margin: 0;
  color: red;
}